@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.loading-wrapper {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading {
  $w: 30px;
  width: $w;
  height: $w;
  background-image: linear-gradient(to right, $bg, $blue);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  animation: loading .85s linear infinite;
  &:before {
    content: "";
    background-color: $bg;
    width: 2*$w/3;
    height: 2*$w/3;
    position: absolute;
    bottom: 20%;
    left: 0;
  }
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $bg;
    top: 50%;
    left: 50%;
    width: 9*$w/10;
    height: 9*$w/10;
    transform: translate(-50%, -50%);
  }
}
