
// COLORS
$light: #fff;
$blue: #337ab7;
$border-blue: #2e6da4;
$bg: #E7E7E7;
$primary-text-color: #282830;
$secondary-text-color: #60646D;

// CARDS
$card-primary: #25373D;
$card-secondary: #C82647;
$card-tertiary: #8870FF;
$card-quaternary: #FCB941;

// FONTS
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
